<section
  id="projects"
  class="relative pt-20 md:pt-16 min-h-[100vh] lg:pt-10 flex"
>
  <div class="lg:container font-outfit mx-auto">
    <div class="text-center my-5 md:my-10 pb-14">
      <div class="w-full md:self-center px-4">
        <h1
          class="text-slate-50 md:pb-5 pb-2 font-bold text-5xl md:text-7xl text-grad"
        >
          My Recent Project's
        </h1>
      </div>
    </div>

    <!-- Project Grid -->
    <div class="md:space-y-5 md:mx-10 lg:mx-46 mb-5">
      <!-- Pocle -->
      <div
        class="flex flex-col-reverse md:grid md:grid-cols-[20rem_auto] md:gap-4 w-full md:space-x-5"
      >
        <!-- Image -->
        <div class="hidden md:block md:h-[15rem] rounded-3xl">
          <img
            src="/img/bg-pocle.png"
            alt="Pocle Project"
            class="rounded-3xl size-full object-cover"
          />
        </div>

        <!-- Text -->
        <div class="h-[18rem] w-full px-3 md:px-0 md:w-auto">
          <h1 class="text-xl font-bold text-grad md:text-right pb-5">
            A Firebase-Powered Cycling App
            <span class="block text-4xl font-bold text-slate-50"> Pocle </span>
          </h1>
          <div class="bg-white/20 p-2 rounded-lg relative">
            <p class="text-slate-100 text-justify h-auto lg:h-20">
              Pocle is a mobile app designed to track and visualize cycling
              activities in real time. It provides route mapping, session
              tracking, and personalized insights to help cyclists build
              healthier and more measurable habits.
            </p>
            <!-- Programming Logo-->
            <div
              class="flex flex-wrap w-full py-2 h-0 lg:h-auto justify-end invisible lg:visible"
            >
              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/kotlin.png"
                  alt="Kotlin"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/firebase.png"
                  alt="FireBase"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/android-studio.png"
                  alt="AndroidStudio"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <a href="https://github.com/BayuPrataPutra/Pocle">
                  <img
                    src="/logo/github-icon.png"
                    alt="GitHub"
                    class="w-10 h-10"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Skinaria -->
      <div
        class="flex flex-col md:grid md:grid-cols-[auto_20rem] md:gap-4 w-full md:space-x-5"
      >
        <!-- Text -->
        <div class="h-[18rem] w-full px-3 md:px-0 md:w-auto">
          <h1 class="text-xl font-bold text-grad text-left pb-5">
            Web-Based Skin Disease Detection
            <span class="block text-4xl font-bold text-slate-50">
              Skinaria
            </span>
          </h1>
          <div class="bg-white/20 p-2 rounded-lg">
            <p class="text-slate-100 text-justify h-auto lg:h-20">
              Skinaria is a machine learning–based web application that
              identifies skin diseases from image inputs. Designed with a
              responsive and user-friendly interface, it helps users detect
              conditions quickly and accurately.
            </p>
            <!-- Programming Logo-->
            <div
              class="flex flex-wrap w-full py-2 h-0 lg:h-auto justify-end invisible lg:visible"
            >
              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/colab.png"
                  alt="Google Colab"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/vs-code.png"
                  alt="VS Code"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/vue-js.png"
                  alt="Vue JS"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/vite-js.png"
                  alt="Vite JS"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/node-js.png"
                  alt="Node JS"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo//postgresql.png"
                  alt="Postgre SQL"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/python.png"
                  alt="Python"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/tensorflow.png"
                  alt="TensorFlow"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/keras.png"
                  alt="Keras"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <a href="https://github.com/BayuPrataPutra/Skinaria">
                  <img
                    src="/logo/github-icon.png"
                    alt="GitHub"
                    class="w-10 h-10"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Image -->
        <div class="hidden md:block md:h-[15rem] rounded-3xl">
          <img
            src="/img/bg-skinaria.png"
            alt="Skinaria Project"
            class="rounded-3xl size-full object-cover"
          />
        </div>
      </div>

      <!-- Smart Home System -->
      <div
        class="flex flex-col-reverse md:grid md:grid-cols-[20rem_auto] md:gap-4 w-full md:space-x-5"
      >
        <!-- Image -->
        <div class="hidden md:block md:h-[15rem] rounded-3xl">
          <img
            src="/img/bg-smarthome.png"
            alt="Smarthome Project"
            class="rounded-3xl size-full object-cover"
          />
        </div>
        <!-- Text -->
        <div class="h-[18rem] w-full px-3 md:px-0 md:w-auto">
          <h1 class="text-xl font-bold text-grad md:text-right pb-5">
            IoT-Powered Home Automation for Smarter Living
            <span class="block text-4xl font-bold text-slate-50">
              Smart Home System
            </span>
          </h1>
          <div class="bg-white/20 p-2 rounded-lg">
            <p class="text-slate-100 text-justify h-auto lg:h-20">
              Smart Home System is an IoT-based solution using ESP32 that lets
              users control RGB lights, monitor temperature in real time, and
              automate fan speed through a web dashboard.
            </p>
            <!-- Programming Logo-->
            <div
              class="flex flex-wrap w-full py-2 h-0 lg:h-auto justify-end invisible lg:visible"
            >
              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/arduino-IDE.png"
                  alt="Arduino IDE"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/MQTT.png"
                  alt="MQTT"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/node-red.png"
                  alt="Node Red"
                  class="w-10 h-10"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Velotto Auto Rent -->
      <div
        class="flex flex-col md:grid md:grid-cols-[auto_20rem] md:gap-4 w-full md:space-x-5"
      >
        <div class="h-[18rem] w-full px-3 md:px-0 md:w-auto">
          <!-- Text -->
          <h1 class="text-xl font-bold text-grad text-left pb-5">
            Simple & Efficient Car Rental Website
            <span class="block text-4xl font-bold text-slate-50">
              Velotto Auto Rent
            </span>
          </h1>
          <div class="bg-white/20 p-2 rounded-lg">
            <p class="text-slate-100 text-justify h-auto lg:h-20">
              Velotto Auto Rent is a web-based car rental platform built with
              PHP and MySQL, offering CRUD management for cars, customers, and
              rentals with a responsive, user-friendly design.
            </p>
            <!-- Programming Logo-->
            <div
              class="flex flex-wrap w-full py-2 h-0 lg:h-auto justify-end invisible lg:visible"
            >
              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/html.png"
                  alt="HTML"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/css-3.png"
                  alt="CSS"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/js.png"
                  alt="JavaScript"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/php.png"
                  alt="PHP"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/bootstrap5.png"
                  alt="bootstrap 5"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/mysql.png"
                  alt="mySQL"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/xampp.png"
                  alt="XAMPP"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/Laravel.png"
                  alt="Laravel"
                  class="w-10 h-10"
                />
              </div>

              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <a href="https://github.com/BayuPrataPutra/Velotto">
                  <img
                    src="/logo/github-icon.png"
                    alt="GitHub"
                    class="w-10 h-10"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- Image -->
        <div class="hidden md:block md:h-[15rem] rounded-3xl">
          <img
            src="/img/bg-velotto.png"
            alt="Velotto Project"
            class="rounded-3xl size-full object-cover"
          />
        </div>
      </div>

      <!-- Smart Door Lock -->
      <div
        class="flex flex-col-reverse md:grid md:grid-cols-[20rem_auto] md:my-10 md:gap-4 w-full md:space-x-5"
      >
        <!-- Image -->
        <div class="hidden md:block md:h-[15rem] rounded-3xl">
          <img
            src="/img/bg-smartdoor.png"
            alt="Smart Door Project"
            class="rounded-3xl size-full object-cover"
          />
        </div>
        <!-- Text -->
        <div class="h-[18rem] w-full px-3 md:px-0 md:w-auto">
          <h1 class="text-xl font-bold text-grad md:text-right pb-5">
            RFID-Based Smart Security with Arduino
            <span class="block text-4xl font-bold text-slate-50">
              Smart Door Lock System
            </span>
          </h1>
          <div class="bg-white/20 p-2 rounded-lg">
            <p class="text-slate-100 text-justify h-auto lg:h-20">
              Smart Door Lock System is an RFID-based security project using
              Arduino Uno and a servo motor to automatically lock or unlock
              doors. Green and red LEDs provide clear visual feedback for valid
              and invalid access.
            </p>
            <!-- Programming Logo-->
            <div
              class="flex flex-wrap w-full py-2 h-0 lg:h-auto justify-end invisible lg:visible"
            >
              <div
                class="w-14 h-14 mx-1 bg-white flex items-center justify-center rounded-full hover:scale-110 transition"
              >
                <img
                  src="/logo/arduino-IDE.png"
                  alt="Arduino IDE"
                  class="w-10 h-10"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    href="index.html#projects"
    class="fixed bottom-6 right-6 z-50 bg-grad text-white font-semibold p-1 rounded-full shadow-lgtransition-all duration-300 lg:text-lg"
  >
    <dotlottie-wc
      src="https://lottie.host/8aeb20ec-6e25-47c3-9ac8-7ed02db05b83/Fl9TfR4KB0.lottie"
      style="width: 50px;height: 50px"
      speed="1"
      autoplay
      loop></dotlottie-wc>
  </a>
</section>
